@import './../../variables.scss';
@import './../../mixins.scss';

.descriptionBlock {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 9fr;
    border: 3px solid $primaryColor;
    border-radius: $blockRadius;
    background-color: white;
    margin: 0.7rem;

}
.imgContainer img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    align-self: center;
    border: 2px solid $primaryColor;
}
.icon {
    @include icon;
    width: 1rem;
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'userName userName userName'
        '. status .'
        '. aboutMe aboutMe'
        'job job .'
        '. socialMedia socialMedia';
    align-items: top; 
   

}

.userName {
    grid-area: userName;
    font-size: 2rem;
    font-weight: bold;
    justify-self:center;
}

.aboutMe {
    grid-area: aboutMe;
    font-size: 1rem;
    font-style: italic;
    color: $primaryColor;
    justify-self: right;
    
}

.status{
    grid-area: status;
    
}

.lookingForAJob {
    grid-area: job;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic;
}

.requireJob {
    color: grey;
}

.positionRequested{
    color: $primaryColor;
}



.smContainer {
    grid-area: socialMedia;
    justify-self: right;
}