@import './../../variables.scss';

.profileBlock{
  
}
  .bannerImg {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/how-to-grow-succulents-1590071439.jpg?crop=1.00xw:0.755xh;0,0.0728xh&resize=1200:*);
    weight:100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  