@import './../../variables.scss';
@import './../../mixins.scss';

.btnFollow{
    @include button;
    
}


.userContainer{
    display:grid;
    grid-template-columns: 150px 2fr;
    margin: $windowGap;
    background-color: $thirdColor;
    border-radius: $blockRadius;

    
}

.userAva{
    height: 100px;
    width: 100px;
    border-radius:50%;
}
.userInfoShield{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selectedPage{
    font-weight: bold;
}