@import "./../../variables.scss";
@import "./../../mixins.scss";

.header{
    grid-area: h;
    background-color: $primaryColor;
    border-radius: $blockRadius;;
    margin-left: $windowGap;
    margin-right: $windowGap;
    margin-top: $windowGap;
  }
  .header img{
    width: 100px;
    margin: 5px;
    border-radius: $blockRadius;
  }

  .login{
    float: right;
  }
  .login a{
    color: white;
  }

.button{
  @include button();
  color:$primaryColor;
  background-color: white;

}  