


// .formControl .error input
// .formControl .error textarea {
//     border: 2px solid red
//    }


.error textarea{
    border: 2px solid red;
}

.error input{
    border: 2px solid red;
}

.error{
    color: red;
}


   .check{
       color: red;
   }