@import './../../../variables.scss';


// .formControl .error input
// .formControl .error textarea {
//     border: 2px solid red
//    }


.error textarea{
    border: 2px solid red;
}

.error input{
    border: 2px solid red;
}

.error{
    color: red;
}


   .check{
       color: red;
   }

 .errorSubmit{
    border: 2px solid red;
    color: red;
    background-color: white;
    width: 150px;
    border-radius: $blockRadius;
    text-align: center;
 }  