@import './../../../mixins.scss';
@import './../../../variables.scss';
.selectedPage{
    font-weight: bold;
}

.paginator{
    margin:0 auto;
	width:450px;
	height:35px;
    margin-top: $windowGap;
    
}

.paginatorButton{
    @include button()
    
}