@import './../../variables.scss';

.nav{
    grid-area: n;
    background-color: $secondaryColor;
    padding: 15px;
    border-radius: $blockRadius;
    margin: $windowGap;
  }
  .item a{
    color: grey;
    text-decoration: none;
  }

  .item a.active{
    color: $activeColor;
  }
  