@import './../../variables.scss';

.nav{
    grid-area: n;
    background-color: $secondaryColor;
    padding: 15px;
    border-radius: $blockRadius;
    margin-left: $windowGap;
    margin-right: $windowGap;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    justify-items: center;
  }
  .item a{
    color: grey;
    text-decoration: none;
  }

  .item a.active{
    color: $activeColor;
  }
  